@import url('https://fonts.googleapis.com/css?family=Kaushan+Script|Libre+Baskerville');

/* Стиль загрузки */
.card-image {
    display: block;
    min-height: 20rem;
    background: #fff center center no-repeat;
    background-size: cover;
    filter: blur(3px);
}

.card-image > img {
    display: block;
    width: 100%;
    opacity: 0;
}

.card-image.is-loaded {
    filter: none;
    transition: filter 1s;
}

/*Стиль макета */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
}

.card-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.card {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
}

.card-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
}

.card-description > h2 {
    margin: 0 0 0.5em;
}

.card-description > p {
    margin: 0;
}

/*Стиль меню + выпадающее меню*/
body {
    margin: 0;
    /*background-image: url(https://oir.mobi/uploads/posts/2021-03/1616606599_4-p-fon-odezhda-4.jpg);*/
    /*background-image: url(https://oir.mobi/uploads/posts/2021-03/thumbs/1616606651_27-p-fon-odezhda-29.jpg);*/
    background-image: url(https://sun9-38.userapi.com/impg/T3w6rqrQPRVxCB3pAgKesOi_ba_OUb-yS_XUyg/E6o9SQ5A20M.jpg?size=1193x677&quality=96&sign=153587572aed21547099f144a6e3972d&type=album);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
body:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    /*background: linear-gradient(45deg, rgba(0,0,0,0), rgba(255,255,255,.8));*/
}
nav {
    text-align: center;
    padding: 40px 0 0;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    text-decoration: none;
    display: block;
    color: #222;
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    position: relative;
    padding: 10px 15px;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 3px;
}
.topmenu > li > a:before {
    content: "";
    position: absolute;
    z-index: 5;
    left: 50%;
    top: 100%;
    width: 10px;
    height: 10px;
    background: #000000;
    border-radius: 50%;
    transform: translate(-50%, 20px);
    opacity: 0;
    transition: .3s;
}
.topmenu li:hover a:before {
    transform: translate(-50%, 0);
    opacity: 1;
}
.submenu {
    position: absolute;
    z-index: 4;
    left: 50%;
    top: 100%;
    width: 150px;
    padding: 15px 0 15px;
    margin-top: 5px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 0 50px rgba(0,0,0,.2);
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 30px);
    transition: .3s;
}
.topmenu > li:hover .submenu {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}
.submenu a {
    font-family: 'Libre Baskerville', serif;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: .3s linear;
}
.submenu a:hover {background: #e8e8e8;}