/*БОКОВАЯ ПАНЕЛЬ МЕНЮ>*/
body {
    font-family: "Lato", sans-serif;
}

/* Фиксация бок.меню во всю высоту */
.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

/* Оформление ссылки и кнопки меню*/
.sidenav a, .dropdown-btn {
    padding: 15px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #fdfdfd;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
}

/* При наведении курсора */
.sidenav a:hover, .dropdown-btn:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    font-size: 20px;
    padding: 0px 10px;
}

/*Активное меню*/
.active {
    background-color: green;
    color: white;
}

/*Выпадающее меню*/
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 10px;
}
.dropdown-container a{
    font-size: 15px;
    padding-left: 35px;
    padding-bottom: 20px;
}

/* Стиль стрелочки */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}


/*ТОВАРЫ И КАТЕГОРИИ*/
head, body {
    padding: 0;
    margin: 0;
}

.products {
    width: 900px;
    min-height: 1643px;
    float: right;
    padding-right: 220px;
    background-color: rgb(255, 255, 255);
    margin-top: 5px;
}

.newproducts {
    width: 100%;
    min-height: 800px;
    position: relative;
    float: left;
}

.topproducts {
    width: 100%;
    min-height: 400px;
    position: relative;
    float: left;
}

.saleproducts {
    width: 100%;
    min-height: 400px;
    position: relative;
    float: left;
}

#newproducts_caption {
    width: 100%;
    height: 80px;
    margin-top: -20px;
    margin-bottom: 20px;
    float: left;
}

#newproducts_caption p {
    font-family: Verdana, sans-serif;
    color: rgba(2, 2, 2, 0.77);
    font-size: 25px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    padding-left: 20px;
    padding-top: 25px;
}

#topproducts_caption {
    width: 100%;
    height: 80px;
    margin-top: -20px;
    margin-bottom: 20px;
    float: left;
}

#topproducts_caption p {
    font-family: Roboto, sans-serif;
    color: #b91010;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top: 25px;
}

#saleproducts_caption {
    width: 100%;
    height: 80px;
    margin-top: -20px;
    margin-bottom: 20px;
    float: left;
}

#saleproducts_caption p {
    font-family: Roboto, sans-serif;
    color: #67c72b;
    font-size: 22px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    padding-left: 25px;
    padding-top: 27px;
}

.product {
    width: 30%;
    height: 390px;
    float: left;
    margin-right: 5%;
    margin-bottom: 40px;
    background-color: #f6f3f3;
    position: relative;
}

.product:nth-child(3n) {
    margin-right: 0;
}

.foto {
    width: 260px;
    height: 290px;
    margin-left: 5px;
    margin-top: 5px;
}

.triangle {
    position: absolute;
    right: 0px;
}

.product_name {
    width: 155px;
    float: left;
    font-size: 14px;
    font-family: "Roboto2", sans-serif;
    max-height: 5em;
    overflow: hidden;
    padding-top: 10px;
    padding-left: 10px;
}

.product_price {
    width: 85px;
    float: right;
    text-align: right;
    font-size: 18px;
    font-family: "Roboto2", sans-serif;
    line-height: 0.95;
    padding-top: 25px;
    padding-right: 10px;
}

.product_old_price {
    font-size: 14px;
    text-decoration: line-through;
    color: #bf11da;
}

/*#brand*/
/*{*/
/*    width: 100%;*/
/*    height: 163px;*/
/*    background-color: #ffffff;*/
/*    float: left;*/
/*    !*position: absolute;*!*/
/*    !*top: 1650px;*!*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
/*#brand img*/
/*{*/
/*    height: 100%;*/
/*}*/
/*#instagram*/
/*{*/
/*    width: 100%;*/
/*    height: 107px;*/
/*    background-color: #eaeaea;*/
/*    !*position: absolute;*!*/
/*    !*top: 1813px;*!*/
/*    font-family: Roboto2, sans-serif;*/
/*    color:  #333333;*/
/*    font-size: 22px;*/
/*    font-weight: 900;*/
/*    text-align: center;*/
/*    float: left;*/
/*}*/
/*#instagram p*/
/*{*/
/*    padding-top: 30px;*/
/*}*/

#foto {
    width: 100%;
    height: 230px;
    background-color: #eaeaea;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.text {
    font-family: Roboto regular, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: justify;
    color: #ffffff;

}

#about div {
    font-family: Roboto regular, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #ffffff;
}

#about span {
    color: yellow;
}

#news input[type="text"] {
    width: 175px;
    height: 30px;
    background-color: yellow;
    border: none;
}

#news input[type="submit"] {
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    border: none;
}

#news input[type="submit"]:hover {
    cursor: pointer;
}

#cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.product:hover {
    cursor: pointer;
    background-color: #d2cbcb;
}


.headerProduct {
    height: 100%;
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.headerProduct img {
    position: relative;
    left: 70px;
    top: 25px;
}

.BigContentProduct {
    background-color: #f8f8f8;
    width: 100%;
    /*height: 2313px;*/
    min-height: 1000px;
    float: left;
}

.productsProduct {
    width: 870px;
    /*height: 1643px;*/
    min-height: 800px;
    float: right;
    background-color: #f8f8f8;
    /*background-color: red;*/
    margin-top: -20px;
}

.newproductsProduct {
    width: 100%;
    /*height: 752px;*/
    min-height: 400px;
    position: relative;
    float: left;
    /*background-color: red;*/
}

.topproductsProduct {
    width: 100%;
    /*height: 400px;*/
    min-height: 250px;
    /*margin-top: 45px;*/
    position: relative;
    float: left;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#topproductsProduct_caption {
    width: 100%;
    height: 50px;
    margin-top: -20px;
    margin-bottom: 20px;
    float: left;
}

#topproductsProduct_caption p {
    font-family: Roboto, sans-serif;
    color: #21a161;
    font-size: 18px;
    font-weight: 900;
    font-style: italic;
    text-transform: uppercase;
    padding-left: 23px;
    padding-top: 25px;
}

#description {
    float: left;
    font-size: 14px;
    font-family: "Roboto2", sans-serif;
    overflow: hidden;
    padding-left: 23px;
    padding-right: 23px;
    text-align: justify;
}

.newproductsProduct .buy {
    background-color: #fff51f;
    width: 125px;
    height: 50px;
    float: left;
    font-family: Raleway4, sans-serif;
    color: #000000;
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    line-height: 50px;
    text-transform: uppercase;
    border-radius: 25px;
}