<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style.css/"/>
    <title>Home page</title>
</head>
<body>

<header th:insert="header :: header"></header>

<div class="products" id="category">
    <div class="newproducts" th:each="element : ${map}">
        <div id="newproducts_caption">
            <p th:text="${element.key.name}"></p>
        </div>
        <div class="card">
            <div class="product" th:each="prod : ${element.value}">
                <img class="foto" th:src="${prod.image}" alt="">
                <div class="product_name" th:text="${prod.name}"></div>
                <div class="product_price">
                    ₽ <span th:text="${prod.price}"></span>
                    <span th:unless="${prod.oldPrice} == 0">
                    ₽ <span th:text="${prod.oldPrice}"></span>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/JS.js/"></script>
</body>
</html>