<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style.css/"/>
    <title>Contacts</title>
</head>
<body>

<header th:insert="header :: header"></header>
<div class="our_contacts">
    <div class="contacts">
        <p>Наш адрес:</p>
        <p>Alexandrium Shopping Center, Korte Poolsterstraat 2, 3067 LZ Rotterdam</p>
        <p>Телефон:</p>
        <p>+31 10 420 5066</p>
    </div>

    <div class="address">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2459.2347903423647!2d4.553370615734559!3d51.94790977970988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5cd3910e831b5%3A0x538557aaaedf8d2c!2sAlexandrium%20Shopping%20Center!5e0!3m2!1sru!2sru!4v1651327882984!5m2!1sru!2sru"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

<script src="/JS.js/"></script>
</body>
</html>