<div th:fragment="header">
<header>
    <div>
        <ul class="topmenu">
            <li><a href="HomePage.html">Главная</a></li>
            <li><a href="HomePage.html" class="down">Каталог</a>
                <ul class="submenu">
                    <li><a href="T-shirts.html">Футболки</a></li>
                    <li><a href="TopsAndT-shirts.html">Топы и майки</a></li>
                    <li><a href="Blouses.html">Блузы</a></li>
                    <li><a href="Sweatshirts.html">Свитшоты</a></li>
                    <li><a href="Dresses.html">Платья</a></li>
                    <li><a href="Skirts.html">Юбки</a></li>
                    <li><a href="Shorts.html">Шорты</a></li>
                    <li><a href="Trousers.html">Брюки</a></li>
                    <li><a href="Jeans.html">Джинсы</a></li>
                    <li><a href="Overalls.html">Комбинезоны</a></li>
                    <li><a href="Outerwear.html">Верхняя одежда</a></li>
                </ul>
            </li>
            <li><a href="" class="down">Аккаунт</a>
                <ul class="submenu">
                    <li><a href="">Вход/Регистрация</a></li>
                    <li><a href="">Корзина</a></li>
                </ul>
            </li>
            <li><a href="">Контакты</a></li>
        </ul>
    </div>
</header>
</div>