<div th:fragment="header">
<header>
    <div class="sidenav">
        <a href="/home">Главная</a>
        <button class="dropdown-btn">Каталог
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="/show">ВСЕ</a>
            <a href="T-shirts.html">Футболки</a>
            <a href="TopsAndT-shirts.html">Топы и майки</a>
            <a href="Blouses.html">Блузы</a>
            <a href="Sweatshirts.html">Свитшоты</a>
            <a href="Dresses.html">Платья</a>
            <a href="Skirts.html">Юбки</a>
            <a href="Shorts.html">Шорты</a>
            <a href="Trousers.html">Брюки</a>
            <a href="Jeans.html">Джинсы</a>
            <a href="Overalls.html">Комбинезоны</a>
            <a href="Outerwear.html">Верхняя одежда</a>
        </div>
        <button class="dropdown-btn">Аккаунт
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-container">
            <a href="T-shirts.html">Вход/Регистрация</a>
            <a href="TopsAndT-shirts.html">Корзина</a>
        </div>
        <a href="/contact">Контакты</a>

        <div class="social instagram">
            <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        </div>
        <div class="social vk">
            <a href="https://vk.com/" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
        </div>
        <div class="social telegram">
            <a href="https://t.me/shop" target="_blank"><i class="fa fa-paper-plane fa-2x"></i></a>
        </div>
    </div>
</header>
</div>