<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style.css/"/>
    <title>Outerwear</title>
</head>
<body>

<nav>
    <ul class="topmenu">
        <li><a href="HomePage.html">Home</a></li>
        <li><a href="HomePage.html" class="down">Catalog</a>
            <ul class="submenu">
                <li><a href="OuterwearMenu.html">Outerwear</a></li>
                <li><a href="PantsMenu.html">Pants</a></li>
                <li><a href="HeaddressMenu.html">Headdress</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Log in</a>
            <ul class="submenu">
                <li><a href="">Log in</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>

<ul class="card-list">

    <li class="card">
        <a class="card-image" href="https://www.google.com/" target="_blank"
           style="background-image: url(https://5.imimg.com/data5/YJ/BO/MY-10973479/mens-designer-casual-shirt-500x500.jpg);"
           data-image-full="https://5.imimg.com/data5/YJ/BO/MY-10973479/mens-designer-casual-shirt-500x500.jpg">
            <img src="https://5.imimg.com/data5/YJ/BO/MY-10973479/mens-designer-casual-shirt-500x500.jpg" alt="The Beautiful Shirt" />
        </a>

        <a class="card-description" href="https://www.google.com/" target="_blank">
            <h2>Shirt</h2>
            <p>Make your choice</p>
        </a>
    </li>

    <li class="card">
        <a class="card-image" href="https://www.google.com/" target="_blank"
           style="background-image: url(https://photos6.spartoo.eu/photos/160/16026861/16026861_1200_A.jpg);"
           data-image-full="https://photos6.spartoo.eu/photos/160/16026861/16026861_1200_A.jpg">
            <img src="https://photos6.spartoo.eu/photos/160/16026861/16026861_1200_A.jpg" alt="The Beautiful Polo Shirt" />
        </a>

        <a class="card-description" href="https://www.google.com/" target="_blank">
            <h2>Polo Shirt</h2>
            <p>Make your choice</p>
        </a>
    </li>

    <li class="card">
        <a class="card-image" href="https://www.google.com/" target="_blank"
           style="background-image: url(https://res.cloudinary.com/teepublic/image/private/s--Fs0TdNMz--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_423/c_crop,g_north_west,h_626,w_470,x_-23,y_0/g_north_west,u_upload:v1462829024:production:blanks:a59x1cgomgu5lprfjlmi,x_-418,y_-325/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1586217806/production/designs/8920391_0.jpg);"
           data-image-full="https://res.cloudinary.com/teepublic/image/private/s--Fs0TdNMz--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_423/c_crop,g_north_west,h_626,w_470,x_-23,y_0/g_north_west,u_upload:v1462829024:production:blanks:a59x1cgomgu5lprfjlmi,x_-418,y_-325/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1586217806/production/designs/8920391_0.jpg">
            <img src="https://res.cloudinary.com/teepublic/image/private/s--Fs0TdNMz--/t_Resized%20Artwork/c_crop,x_10,y_10/c_fit,w_423/c_crop,g_north_west,h_626,w_470,x_-23,y_0/g_north_west,u_upload:v1462829024:production:blanks:a59x1cgomgu5lprfjlmi,x_-418,y_-325/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1586217806/production/designs/8920391_0.jpg" alt="The Beautiful T-Shirt" />
        </a>

        <a class="card-description" href="https://www.google.com/" target="_blank">
            <h2>T-Shirt</h2>
            <p>Make your choice</p>
        </a>
    </li>

</ul>

<script src="/JS.js/"></script>
</body>
</html>