<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/Style.css/"/>
    <title>Pants</title>
</head>
<body>

<nav>
    <ul class="topmenu">
        <li><a href="CategoryPage.html">Home</a></li>
        <li><a href="CategoryPage.html" class="down">Catalog</a>
            <ul class="submenu">
                <li><a href="T-shirts.html">Outerwear</a></li>
                <li><a href="TopsAndT-shirts.html">Pants</a></li>
                <li><a href="Blouses.html">Headdress</a></li>
            </ul>
        </li>
        <li><a href="" class="down">Log in</a>
            <ul class="submenu">
                <li><a href="">Log in</a></li>
                <li><a href="">Register</a></li>
            </ul>
        </li>
        <li><a href="">Contact</a></li>
    </ul>
</nav>

<ul class="card-list">

    <li class="card">
        <a class="card-image" href="https://www.google.com/" target="_blank"
           style="background-image: url(https://media.everlane.com/image/upload/c_fill,dpr_2,f_auto,g_face:center,q_auto,w_auto/v1/i/20093ef2_2ae0.jpg);"
           data-image-full="https://media.everlane.com/image/upload/c_fill,dpr_2,f_auto,g_face:center,q_auto,w_auto/v1/i/20093ef2_2ae0.jpg">
            <img src="https://media.everlane.com/image/upload/c_fill,dpr_2,f_auto,g_face:center,q_auto,w_auto/v1/i/20093ef2_2ae0.jpg" alt="The Beautiful Jeans" />
        </a>

        <a class="card-description" href="https://www.google.com/" target="_blank">
            <h2>Jeans</h2>
            <p>Make your choice</p>
        </a>
    </li>

    <li class="card">
        <a class="card-image" href="https://www.google.com/" target="_blank"
           style="background-image: url(https://media.viskan.com/v2/pinewoodprod/normal/9584-170-1_Pinewood-Shorts-Wildmark-Stretch_Dark-Olive-Mossgreen.png);"
           data-image-full="https://media.viskan.com/v2/pinewoodprod/normal/9584-170-1_Pinewood-Shorts-Wildmark-Stretch_Dark-Olive-Mossgreen.png">
            <img src="https://media.viskan.com/v2/pinewoodprod/normal/9584-170-1_Pinewood-Shorts-Wildmark-Stretch_Dark-Olive-Mossgreen.png" alt="The Beautiful Shorts" />
        </a>

        <a class="card-description" href="https://www.google.com/" target="_blank">
            <h2>Shorts</h2>
            <p>Make your choice</p>
        </a>
    </li>

    <li class="card">
        <a class="card-image" href="https://www.google.com/" target="_blank"
           style="background-image: url(https://cdn.cliqueinc.com/posts/286154/loose-trouser-trend-286154-1585668553765-main.700x0c.jpg);"
           data-image-full="https://cdn.cliqueinc.com/posts/286154/loose-trouser-trend-286154-1585668553765-main.700x0c.jpg">
            <img src="https://cdn.cliqueinc.com/posts/286154/loose-trouser-trend-286154-1585668553765-main.700x0c.jpg" alt="The Beautiful Trousers" />
        </a>

        <a class="card-description" href="https://www.google.com/" target="_blank">
            <h2>Trousers</h2>
            <p>Make your choice</p>
        </a>
    </li>

</ul>

<script src="/JS.js/"></script>
</body>
</html>